<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div id="app">
        <div class="containerChat">


            <div class="left-box">

                <div class="first-left">

                </div>
                <div class="second-left">

                </div>
                <div class="third-left">
                    <div class="box-input">
                        <img class="search-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png"
                            alt="">
                        <input placeholder="Cerca o inizia una nuova chat" class="search-input" type="text" name=""
                            id="" v-model="searchString">
                    </div>
                    <div class="users" class="user" v-for="(user, i) in contacts" @click="selectChat(i)">
                        <div  v-if="user.name.toLowerCase().includes(searchString.toLowerCase())">

                            <img class="img-user" :src="[user.avatar]" alt="">
                            <span class="name">{{ user.name }}</span>

                        </div>
                    </div>
                </div>

            </div>


            <div class="right-box">

                <div class="first-right"></div>
                <div class="second-right">

                        <div v-for="contact in contacts[currentChat].messages">
                            <div :class="contact.status" class="message-box-chat">

                                <p>
                                    {{ contact.text }}
                                </p>
                                <p>
                                    {{ contact.date }}
                                </p>


                            </div>
                        </div>
                </div>
                <div class="third-right">
                    <img src="" alt="">
                    <input type="text"  class="search-input" placeholder="Scrivi un messaggio"  v-model="messageToSend" @keyup.enter="sendMessageTo(contacts[currentChat])" >
                   <img src="" alt="">
                </div>
            </div>




        </div>
        <div class="header"></div>

        <div class="container"></div>






    </div>



    <script src="./js/script.js"></script>
</body>

</html>